.Header {
  margin-top: 40px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

ul {
  list-style: none;
  display: flex;
}

.header-link {
  text-decoration: none;
  color: #ff6060;
  font-size: 24px;
  margin-left: 57px;
}
